body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

header {
  background: #8c2888; /* roxo Africell */
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 30px;
}

.btn {
  background: #2ac1c1; /* azul/turquesa */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

button {
  background: #2ac1c1; /* azul/turquesa */
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, .btn:hover {
  background: #ffd500; /* amarelo detalhes */
  color: #8c2888; /* texto roxo */
}

h2, h3 {
  color: #8c2888;
}

ol li {
  margin-bottom: 10px;
  font-weight: bold;
}
